{# <div class="footer_decoration_wrapper">
    <div class="footer_decoration"></div>
</div> #}

<div class="deco-footer">
    <div class="megaphone">
        <img src="../images/mega-phone.png" alt=""/>
    </div>
    <div class="footer_decoration"></div>
</div>

<footer class="">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <span class="logo">Included</span>
        <a href="" class="">Things you need to know</a>
    </div>
</footer>
