<div class="footer_decoration skewed_multi"></div>
<div class="footer_character"></div>

<footer class="bg-yellow-400 absolute bottom-0 inset-x-0 ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <span class="logo">Included</span>
        <a href="" class="">Things you need to know</a>
    </div>
</footer>