<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>

  <link href="{{ 'output.css' | url }}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;700&family=Lexend+Giga:wght@100;200;300;400;500;600;700;800;900&family=Source+Serif+Pro:ital@1&display=swap" rel="stylesheet">

  <meta name="description" content="Inclusive design confernce coming october">
  <meta property="og:site_name" content="Included Conf" />
  <meta property="og:title" content="Included Conf">
  <meta property="og:description" content="Inclusive design confernce coming october">
  <meta property="og:url" content="https://www.includedconf.com" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.http://includedconf.com/images/og.webp">
  <meta property="og:image:secure_url" content="https://www.http://includedconf.com/images/og.webp" />
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="400" />
  <meta property="og:image:alt" content="Included Conf logo - date 06.10.2022 Location London">
  <meta property="og:locale" content="en_GB">
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="summary_large_image" content="https://www.http://includedconf.com/images/og.webp" />
  <meta property="twitter:site" content="@Included_conf" />


  <meta property="og:url" content="https://www.includedconf.com">
  <link rel="canonical" href="https://www.includedconf.com">

  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="{{ 'site.webmanifest' | url }}">

  
  <meta name="theme-color" content="#FFFFFF">
</head>

<body>
  <div class="page_wrapper">
  {% include 'landing_header.njk' %}
  <div class="main">
    <div class="header_decoration"></div>
    <div class="content_wrapper">
  {{ content | safe }}


  {% include 'subscribe.njk' %}
    </div>
  </div>

  {% include 'footer.njk' %}
  </div>
</body>
</html>