---
layout: landing_page
title: Included Conf
link: convertkit.css
subscribe: yes
---
  <main class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 mb-1">
    <h1 class="font-welcome text-6xl italic text-center mt-8 sm:mt-16 lg:mt-16">Included conference</h1>
    <time datetime="2022-10-06" class="text-center block text-3xl font-giga">6 October 2022</time>
    <span class="text-center block text-3xl font-giga text-[#FF5245]">London</span>
    {# <h2>Subtitle</h2>
    <p>A new inclusive design conference</p> #}

<div class="grid grid-cols-5 mt-16">
  <div class="col-start-1 col-span-5 intro ">
    <p>Included is a new lovingly-curated conference about inclusive design and accessibility in the digital world, the workplace and the built environment.</p>
    <p>Throughout the day (and the evening), there will be a single track of authoritative experts talking about a diverse range of topics such as</p>
    <ul role="list">
      <li>Making accessible mobile experiences</li>
      <li>Ensuring digital access in lower-income countries</li>
      <li>Roads and guide dogs</li>
      <li>Cognitive accessibility</li>
      <li>Queer history</li>
    </ul>
    <p>… and many more to be announced.</p>
  </div>

  <div class="col-start-1 col-span-4">
    <h2>When and where?</h2>
    <p>6 October 2022, which makes it a <a href="https://www.cosmopolitan.com/uk/horoscopes/a28887642/libra-traits/">Libra</a>, symbolised by the Scales of Justice held by the ancient Greek goddess <a href="https://en.wikipedia.org/wiki/Themis">Themis</a>, which became the inspiration for modern depictions of Lady Justice.</p><p>The venue is a modern, accessible location in London. All the daytime talks will be live-captioned.</p>
  </div>

  <div class="col-start-2 col-span-4">
    <h2>Who?</h2>
    <p>Speakers will be announced on Twitter, our Discord server, and through our mailing list (sign up!). The event is organised and co-curated by Arran Ross-Paterson.</p>
  </div>

  <div class="col-start-1 col-span-4">
    <h2>Can my company sponsor?</h2>
    <p>Well, that's very kind of you to offer. We'll certainly consider organisations that promote and demonstrate the values of accessibility and inclusivity. (So, if you're Vladimir Putin, a big Evil Corp, arms manufacturer or a tobacco company, no.)</p>
  </div>

  <div class="col-start-2 col-span-4">
    <h2>Will talks be recorded and put on YouTube?</h2>
    <p>No. To do it well would cost too much, and everyone's fed up of watching events on the web by now.</p>
  </div>
</div>
</main>
