---
layout: landing_page
title: Included Conf
link: convertkit.css
subscribe: yes
---
  <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-1">
    <h1 class="font-welcome text-6xl italic text-center mt-8 sm:mt-16 lg:mt-16">Included conference</h1>
    <time datetime="2022-10-06" class="text-center block text-3xl font-giga">6 october 2022</time>
    <span class="text-center block text-3xl font-giga text-[#FF5245]">London</span>
    {# <h2>Subtitle</h2>
    <p>A new inclusive design conference</p> #}
    <p>Lovely cheesecake</p>

<p>Included is a new one-day single-track lovingly-curated conference about inclusive design and accessibility in the digital world, the workplace and the built environment.</p>

  </section>
  <section class="email mb-1">
	    <h2>Subscribe to be updated</h2>
			<p>Sign up for speaker announcements and to find out when tickets are available. We will never spam you, sell or give away this mailing list.</p>
    <!-- email section -->
    <script async data-uid="23b02065ac" src="https://expert-originator-353.ck.page/23b02065ac/index.js"></script>
  </section>
