@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
}

html, body {
  width: 100%;
	height: 100%;
  
  color: black;  
}

.page_wrapper {
  min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr min-content auto;
	grid-template-columns: 100%;

}

.large_logo {
  background-image: url(../images/svg/large_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px auto;
}

.main {
  position: relative;
  
}

.content_wrapper {
 position: relative;
}

.header_decoration {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 16rem;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
  background-image: url(../images/svg/pattern_multicolour.svg);
  background-repeat: repeat;
  background-size: 100px auto;
}

@media (min-width: 640px) {
  .header_decoration {
    height: 10rem;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  }
}

.deco-footer {
  position: relative;
}

.megaphone {
  left: 0;
  bottom: 0;
  padding: 200px 0 0 10vw;
  /* transform: translate(-60%, 3.2%); */
  position: absolute;
  z-index: 5;
}

.megaphone img {
  width: 175px;
  height: 100px;
}

.footer_decoration {
  position: relative;
  top: 0;
  height: 146px;
  clip-path: polygon(0 100%, 0 50%, 100% 100%);
  background-image: url(../images/svg/pattern_multicolour.svg);
  background-repeat: repeat;
  background-size: 100px auto;
  background-color: red;
  margin-bottom: 4px;
}

@media (min-width: 1024px) {
  .megaphone {
    padding: 100px 0 0 10vw;
  }
  .megaphone img {
    width: 350px;
    height: 200px;
  }
  .footer_decoration {
    height: 294px;
    margin-bottom: 6px;
  }
}

footer {
  background-color: white;
}

/* @media (min-width: 1024px) {
  .footer_decoration {
    width: 100vw;
    height: 250px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  }
} */

